html {
    background-color: rgb(3, 0, 27);
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
 }
 
 body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(3, 0, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

#puzzle-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
    margin: 0; /* Remove fixed margin */
    width: fit-content; /* Adjust width to fit content */
    height: fit-content; /* Adjust height to fit content */
}

#puzzle-container div {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#win-message, #login-page, #game-page {
    margin-top: 30px;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;

}

#leaderboard {
    margin-top: 20px;
    color: white;
}
#moves, #time {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}
#tiles {
    width: 400px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(3, 0, 27);
    padding: 8px;
    border-radius: 0.5rem;
 }
 .selected {
    background-color: #ffffff;
    border: none;
    color: white;
 }
 .btn {
    font-size: 24px;
    height: 80px;
    width: 25%;
    cursor: pointer;
 }

#login-page {
    display: flex;
    flex-direction: column; /* Stack the login form and leaderboard vertically */
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
}
 
#leaderboard {
    margin-top: 20px; /* Space between login form and leaderboard */
    color: white;
}

#game-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    align-items: flex-start; /* Align items to the start (left) */
    color: white;
    height: 100vh; /* Full viewport height */
    position: relative; /* Position context for absolute elements */
}

#go-back-btn {
    position: absolute; /* Use absolute positioning */
    bottom: 5px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #FF8961;
    color: white;
    border: none;
    border-radius: 0.5rem;
}